<div class="content">
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" id="myTab">
    <li><a href="#bacon" data-toggle="tab">Bacon Ipsum Generator</a></li>
    <li><a href="#hipster" data-toggle="tab">Hipster Ipsum Generator</a></li>
    
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
      <div class="tab-pane active" id="bacon"><h2>Bacon Ipsum Generator</h2>
          <p><input id="baconButton" type="button" value="Give me bacon!" /></p>
          <div id="baconIpsumOutput"></div>
      </div>
    <div class="tab-pane" id="hipster"><h2>Hipster Ipsum Generator</h2>
        <p><input id="hipsterButton" type="button" value="Give me hipster shenanigans!" /></p>
        <div id="hipsterIpsumOutput"></div>
    </div>

    
  </div>
</div>