<header style="text-align:center"><h1>Greeting's From Stan's Portfolio!</h1> </header>
<div>
  
  <div class="content" style="width:80%">
    <%= yield %>
  </div>
  <p style="text-align:center">&copy; StanMartineau.com 2013</p>
</div>